extends layout

block content
  h1= title
  p Wilkommen auf der #{title}
  
  p Wir geben dir die Möglichkeit deine Professoren, Tutoren und wissenschaftlichen Mitarbeiter zu bewerten um ihnen die Möglichkeit zu geben ihr Unterrichten zu verbessern!
